{
	"experimental_http3": false
}

sentora.my {
	root * /var/www/html
#	encode brotli zstd gzip
	php_fastcgi localhost:9000
#	tls /ssl/ssl-cert-snakeoil.pem /ssl/ssl-cert-snakeoil.key
	tls /ssl/cert.pem /ssl/cert.key
#    tls self_signed
	file_server
}
